<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
	    <title>Teela Subba</title>
	    <link rel="stylesheet" href="css/style.css">
	    <title>Teela Subba</title>
    </head>
    <body>
        <header>
            <div class="container">
                <div id="headtitle">
                    <h1><span class="highlight">Teela</span>
                    Personal website</h1>
                </div>
                <nav>
                    <ul>
                        <li class="current"><a href="blog">Home</a></li>
                        <li><a href="stories">Stories</a></li>
                        <li><a href="aboutme">Aboutme</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        
        <section id="aboutme-showcase">
            <div class="aboutme-container">
                <div class="photo-profile">
                    <center><img id="tula" src="./img/tula2.JPG"></center>
                    <div class="text3">Teela Ram Subba</div>
                </div>
            </div>
            <div class="my-description-container">
                <article id="main-row1">
                    <ul id="tulaid">
                        <li>
                            <h1>Education</h1>
                            <p>Bachelors degree in physics from Tribhuvan University.<br>Also certified in Software developer from Techhire Pittsburgh.</p> 
                        </li>
                        <li>
                            <h1>Github</h1>
                            <a id="github" href="https://github.com/subbat9710">My Github</a>
                        </li>
                        <li>
                            <h1>My Contact</h1>
                            <p>Email: teela.subba1991@gmail.com<br>Cellphone: 412-419-8089</p>
                        </li>
                        <li>
                            <h1>My Resume</h1>
                            <a id="myresume" href="/pdf/resume.pdf">Click Here to View</a>
                            <!-- <object data="/pdf/resume.pdf" type="application/pdf" width="50%" height="400px">
                            <iframe src="/pdf/resume.pdf" width="100%" height="100%" style="border:none;">This browser does not support PDFs. Please download the PDF to view it: <a href="/pdf/resume.pdf">Download PDF</a></iframe> 
                            </object> --> 
                        </li>
                    </ul>    
                </article>
            </div>
        </section>
        <footer>
            <p>Design By Teela Ram Subba, Copyright &copy; 2017</p>
        </footer>
    </body>
</html>