<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
	    <title>Teela Subba</title>
	    <link rel="stylesheet" href="css/style.css">
	    <title>Teela Subba</title>
    </head>
    <body>
        <header>
            <div class="container">
                <div id="headtitle">
                    <h1><span class="highlight">Teela</span>
                    Personal website</h1>
                </div>
                <nav>
                    <ul>
                        <li class="current"><a href="blog">Home</a></li>
                        <li><a href="stories">Stories</a></li>
                        <li><a href="aboutme">Aboutme</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <section id="story-showcase">
            <div class="story-container">
            <article id="main-col1">
                <ul id="photo">
                    <li>
                        <img id="photo2" src="./img/lastday.JPG">
                        <p>Last day of six months long class.</p>
                    </li>
                    <li>
                        <img id="photo1" src="./img/graduationday.JPG">   
                        <p>Graduation Day, This day is unforgotable to me.I have never expected to be a coder in my life.I am so grateful that I did it and thankful to Techhire Pittsburgh and MinedMinds for incredible opportunity.</p>
                    </li>
                    <li>
                        <img id="photo3" src="./img/codefest.JPG">
                        <p>Attending steel city codefest 2017 with Techhire Team,Google office at pittsburgh.</p>
                    </li>
                </ul>
            </article>
            </div>    
        </section>
        <footer>
            <p>Design By Teela Ram Subba, Copyright &copy; 2017</p>
        </footer>
    </body>
</html>